<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <a href="/">
            <h2 class="logo">EVENT MANAGEMENT</h2>
          </a>
          <div>
            <a class="btn btn_primary primary" href="/">Home</a>
            <a class="btn btn_primary" href="/events/new">Create new Event</a>
          </div>
        </div>
      </div>
    </header>
    <main class="main_sec">
      <aside>
        <div class="search">
          <h2>Search By :</h2>
          <a href="/events">
            <button class="btn btn_sec" type="reset">Reset</button>
          </a>
        </div>
        <section class="category">
          <h2>Categories</h2>
          <div class="tags">
            <% arr.forEach(tag=>{ %>
            <a href="/events/sort/tags?name=<%= tag  %> " class="btn btn_ter"
              ><%= tag %></a
            >
            <% }) %>
          </div>
        </section>
        <section class="location">
          <h2>Locations</h2>
          <div class="tags">
            <% arrLocations.forEach(tag=>{ %>
            <a
              href="/events/sort/location?name=<%= tag  %> "
              class="btn btn_ter"
              ><%= tag %></a
            >
            <% }) %>
          </div>
        </section>
        <section class="date">
          <h2>By Date</h2>
          <div class="tags">
            <a href="/events/sort/date/acc" class="btn btn_ter">Ascending </a>
            <a href="/events/sort/date/dec" class="btn btn_ter">Descending </a>
          </div>
        </section>
      </aside>
      <section class="list_sec">
        <h2>List Of Events</h2>
        <hr class="line" />
        <% if(events){ %> <% events.forEach(ele=>{ %>
        <section class="list">
          <a href="">
            <p class="list_title"><%= ele.title %></p>
          </a>
          <div>
            <a href="/events/<%= ele._id %>" class="btn btn-primary">Details</a>
          </div>
        </section>
        <% }) %> <% } %> <% if(events.length===0){ %>
        <div class="text-center">
          <h3 class="mb-1">Currently no event found</h3>
          <h4 class="mb-1">Create new</h4>
          <a class="btn btn_primary" href="/events/new">Create Event</a>
        </div>
        <% } %>
      </section>
    </main>
  </body>
</html>
